html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}

.gradiant-text {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing-text steps(500) 3.5s infinite, blink ease 0.3s infinite;
    text-wrap: none;
    display: inline-block;
}

.fill-bars {
    animation: Fill-bars 2s;
}

@keyframes typing-text {
    from {
        width: 0%;
    } 
    to {
        width: 300px;
    }
}

@keyframes typing-text {
    to {
        border-color: transparent;
    }
}

.blob {
    overflow-x: hidden;
    position: fixed;
    top : 10%;
    left: 0;
    fill: #0055c7;
    width: 25vmax;
    z-index: -1;
    animation: move 30s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
}